*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

@font-face{
    src: url();
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    padding: 0 2%
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 15px
}

.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url("imagens/bd8fd4dd-5414-4ac2-b809-8393407c1295.jpg");
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
}

.form{
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    margin-top: -15px;
    border-width: 12px;
    border-color: rgba(120, 120, 120, 0.5);
    border-style: solid;
    background-color: white;
    background-clip: padding-box;
}

.form h2{
    font-weight: normal;
    color: #999999;
    font-size: 21px;
}